**/node_modules
/public/hot
/public/storage
/public/uploads
/public/img
/public/plugins
/public/themes
/public/vp-pwa-manifest.json
/public/vp-pwa-service-worker.js
/storage/*.key
/vendor
/.idea
package-lock.json
composer.lock
.env
.env.backup
.env.prod
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/index.html
