.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .btn-toggle-nav {
    display: none;
}

.has-submenu {
    float: left;
    overflow: hidden;
}

.has-submenu .show-submenu {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .has-submenu:hover .show-submenu {
    background-color: #555;
    color: white;
}

.submenu-content a:hover {
    background-color: #ddd;
    color: black;
}

.has-submenu:hover .submenu-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .has-submenu .show-submenu {
        display: none;
    }
    .topnav a.btn-toggle-nav {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .btn-toggle-nav {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .has-submenu {float: none;}
    .topnav.responsive .submenu-content {position: relative;}
    .topnav.responsive .has-submenu .show-submenu {
        display: block;
        width: 100%;
        text-align: left;
    }
}
