table.comments-list {
    td {
        vertical-align: top;

        &.comment-content {
            width: 50%;
        }

        div.comment-content {
            width: 100%;
            max-width: 100%;
            word-wrap: break-word;
            white-space: pre-wrap;
        }

        div.comment-actions {
            a {
                margin-right: .2rem;
            }
        }
    }

}
