.hidden {
  display: none !important;
}

.no-click {
  pointer-events: none !important;
}

.cp-block {
  display: block !important;
}

.cp-block .form-check-input {
  margin-top: 0.278rem !important;
}

.text-italic {
  font-style: italic !important;
}

.cp-wide {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.borderless {
  border: none 0 !important;
}

@-webkit-keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin {
  display: inline-block;
  -webkit-animation: anim-rotate 2s infinite linear;
          animation: anim-rotate 2s infinite linear;
  text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.3);
}

.cp-no-mb {
  margin-bottom: 0 !important;
}

.custom-scroll {
  overflow: hidden;
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d8d8d8;
}

.cp-user-notice .js-close-alert {
  cursor: pointer;
}

.cp-user-notice .user-notice-content {
  display: inline-block;
}

.text-description {
  color: #696565;
  font-size: smaller;
  font-style: italic;
}

.embed-responsive-item {
  max-width: 100%;
}

.bullet {
  content: "";
  border: solid 1px #f8f8f8;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  margin: 0 0;
}

.bullet.danger {
  background: #dc3545;
}

.bullet.warning {
  background: #ffc107;
}

.bullet.success {
  background: #28a745;
}

.table td.cell-lang-bullet {
  padding: 12px 0 0 0;
  vertical-align: top;
  text-align: center;
}

.contentpress-thumbnail {
  max-width: 100%;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.circle-loader {
  margin: 0 0;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(84, 82, 82, 0.2);
  border-right: 2px solid rgba(84, 82, 82, 0.2);
  border-bottom: 2px solid rgba(84, 82, 82, 0.2);
  border-left: 2px solid #ffffff;
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circle-loader--small {
  width: 30px;
  height: 30px;
}

.circle-loader--blue {
  border-top: 2px solid rgba(84, 82, 82, 0.2);
  border-right: 2px solid rgba(84, 82, 82, 0.2);
  border-bottom: 2px solid rgba(84, 82, 82, 0.2);
  border-left: 2px solid #124272;
}

.circle-loader--xsmall {
  width: 15px;
  height: 15px;
}

.circle-loader--light {
  border-top: 2px solid rgba(84, 82, 82, 0.2);
  border-right: 2px solid rgba(84, 82, 82, 0.2);
  border-bottom: 2px solid rgba(84, 82, 82, 0.2);
  border-left: 2px solid #fff;
}

select.form-control,
select.asColorPicker-input,
.dataTables_wrapper select,
.jsgrid .jsgrid-table .jsgrid-filter-row select,
.select2-container--default select.select2-selection--single,
.select2-container--default .select2-selection--single select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
  color: #000000 !important;
}

.input-wide {
  width: 100%;
}

.cp-form-control-inline {
  display: inline !important;
  width: auto !important;
}

.selectize-input {
  box-shadow: none !important;
}

table.posts td {
  padding: 0.5rem 0.9375rem;
  vertical-align: top;
}

table.posts td p {
  font-size: 14px;
  margin: 0.1rem 0;
}

table.posts td p * {
  font-size: inherit !important;
}

table.posts td.post-title {
  min-width: 300px;
  max-width: 300px;
  position: relative;
}

table.posts td.post-title a.post-title {
  display: block;
  font-weight: 500;
  margin-top: 6px;
  text-decoration: none;
}

table.posts td.post-title a.post-title:active,
table.posts td.post-title a.post-titlefocus,
table.posts td.post-title a.post-title:hover {
  text-decoration: none;
}

table.posts td.post-title .post-actions {
  position: relative;
  font-size: 13px;
  margin-top: 0.2rem;
}

table.posts td.post-title .post-actions a {
  font-size: 13px;
  margin-right: 0.2rem;
}

table.posts .is-editing {
  border: solid 1px #333333;
}

.post-edit-form .widget {
  background: #fff;
  margin-bottom: 2rem;
}

table.comments-list td {
  vertical-align: top;
}

table.comments-list td.comment-content {
  width: 50%;
}

table.comments-list td div.comment-content {
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

table.comments-list td div.comment-actions a {
  margin-right: 0.2rem;
}

@media (min-width: 992px) {
  .main-panel {
    margin-left: 255px;
  }

  .sidebar-icon-only .main-panel {
    margin-left: 70px;
  }
}

body {
  background: #f8f9fa;
}

.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
}

.table th,
.table td {
  border-top: none;
}

.dropify-wrapper .dropify-message p {
  font-size: 20px;
}

/* Fixes icon alignment in the notifications dropdown */

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
  margin-top: 3px;
}

.preview-list .preview-item .preview-item-content .preview-subject {
  margin-top: 8px;
}

/*
 * Overrides the default .form-control styles
 */

.btn {
  padding: 0.275rem 0.75rem;
}

.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  border-radius: 0 !important;
  box-shadow: none;
  border-color: #d2d6de !important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.cp-pagination-center ul.pagination {
  align-items: center;
  justify-content: center;
}

.app-title .content-section {
  width: 50%;
  margin: 0 0;
}

.cp-flex {
  width: 100%;
  margin: 0 0;
  display: flex;
  position: relative;
}

.cp-flex--center {
  align-items: center;
  align-content: center;
}

.cp-flex--space-between {
  justify-content: space-between;
  align-content: space-between !important;
}

.list-inline li {
  display: inline-block;
}

.cp-table-align-middle td {
  vertical-align: middle;
}

